<div class="product-widget">
  <div class="product-img">
    <img src="<%= imgUrl %>" alt="">
  </div>
  <div class="product-body">
    <p class="product-category"><%= category %></p>
    <h3 class="product-name"><a href="<%= href %>"><%= name %></a></h3>
    <h4 class="product-price"><%= price %> <del class="product-old-price"><%= oldPrice %></del></h4>
  </div>
</div>